[profile.default]
src = "contracts"
out = "out"
libs = ["lib"]
test = "test"
solc = "0.8.20"

optimizer = true
optimizer_runs = 200

[fmt]
line_length = 100
tab_width = 4
bracket_spacing = false

[rpc_endpoints]
localhost = "http://127.0.0.1:8545"
